### Exploratory Data Analysis
My goal is to create a model that will be capable of predicting value of an apartment in Warsaw. \
I will start with cleaning and reformatting the data, then I will proceed to feature engineering so I can finally explore it.

## Dataset documentation
- location: address of the apartment
- total_price: price of the apartment in PLN
- price_per_sqm: price per square meter of the apartment in PLN
- area: area of the apartment in square meters
- rooms: number of rooms in the apartment
- finished: status of the apartment, e.g. ready to live, building shell
- floor: on which floor is the apartment located
- outside: is there garden/terrace/balcony
- rent: monthly rent rate in PLN
- elevator: is there a working elevator
- built: when was the building built
- b_type: type of the building e.g. skyscraper, block of flats
- link: link to Otodom listing of this apartment

In [1]:
from geopy.geocoders import Nominatim
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import time

In [2]:
df = pd.read_csv('details.txt', delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31850 entries, 0 to 31849
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location       31845 non-null  object
 1   total_price    31849 non-null  object
 2   price_per_sqm  29473 non-null  object
 3   area           31849 non-null  object
 4   rooms          31849 non-null  object
 5   finished       6912 non-null   object
 6   floor          31404 non-null  object
 7   outside        23252 non-null  object
 8   rent           15569 non-null  object
 9   elevator       27957 non-null  object
 10  built          24779 non-null  float64
 11  b_type         23639 non-null  object
 12  link           31850 non-null  object
dtypes: float64(1), object(12)
memory usage: 3.2+ MB

In [3]:
df.isna().sum()

location             5
total_price          1
price_per_sqm     2377
area                 1
rooms                1
finished         24938
floor              446
outside           8598
rent             16281
elevator          3893
built             7071
b_type            8211
link                 0
dtype: int64

`location`, `total_price`, `area` and `rooms` have very few NaN values. However in my dataset empty values are often replaced by a string, mostly different for all columns, so let's try to convert those strings into NaN's. Also let's format the data in columns into numbers if it's possible.

### `total_price`

In [4]:
df['total_price'].head()

0     1 049 000 zł
1     1 099 000 zł
2    444 563,23 zł
3       430 000 zł
4    621 422,01 zł
Name: total_price, dtype: object

In [5]:
df['total_price'] = df['total_price'].replace('Zapytaj o cenę', np.nan)
df['total_price'] = df['total_price'].str.replace(' ', '').str.slice(stop=-2)
print(df['total_price'].value_counts().head())
print(f"Number of NaN's in total_price is {df['total_price'].isna().sum()}")

total_price
799000    416
899000    295
750000    290
699000    276
850000    272
Name: count, dtype: int64
Number of NaN's in total_price is 2377

### `price_per_sqm`

In [6]:
df['price_per_sqm'].head()

0    14 204 zł/m²
1    18 381 zł/m²
2    13 768 zł/m²
3    17 530 zł/m²
4    16 919 zł/m²
Name: price_per_sqm, dtype: object

In [7]:
df['price_per_sqm'] = df['price_per_sqm'].str.replace(' ', '').str.slice(stop=-5)
print(df['price_per_sqm'].head())
print(f"Number of NaN's in price_per_sqm is {df['price_per_sqm'].isna().sum()}")

0    14204
1    18381
2    13768
3    17530
4    16919
Name: price_per_sqm, dtype: object
Number of NaN's in price_per_sqm is 2377

### `area`

In [8]:
df['area'].head()

0    73,85 m²
1    59,79 m²
2    32,29 m²
3    24,53 m²
4    36,73 m²
Name: area, dtype: object

In [9]:
df['area'] = df['area'].str.slice(stop=-3).str.replace(' ', '')
print(df['area'].value_counts().head())
print(f"Number of NaN's in area is {df['area'].isna().sum()}")

area
48    326
47    322
50    288
38    261
49    239
Name: count, dtype: int64
Number of NaN's in area is 1

### `rooms`

In [10]:
df['rooms'].value_counts()

rooms
3                11277
2                11241
4                 4798
1                 2955
5                 1225
6                  221
7                   59
więcej niż 10       37
8                   20
9                   10
10                   6
Name: count, dtype: int64

There's few apartments with a number of room bigger than 10. Since I want to focus on fairly average apartments in Warsaw I will drop these values.

In [11]:
df = df[df['rooms']!='więcej niż 10']
df['rooms'] = df['rooms'].str.replace(' ', '')
print(df['rooms'].value_counts())
print(f"Number of NaN's in rooms is {df['rooms'].isna().sum()}")

rooms
3     11277
2     11241
4      4798
1      2955
5      1225
6       221
7        59
8        20
9        10
10        6
Name: count, dtype: int64
Number of NaN's in rooms is 1

### `finished`

In [12]:
df['finished'].value_counts()

finished
do zamieszkania    3363
do wykończenia     1658
Zapytaj            1338
do remontu          541
Name: count, dtype: int64

In [13]:
df['finished'] = df['finished'].replace('Zapytaj', np.nan)
print(f"Number of NaN's in finished is {df['finished'].isna().sum()}")

Number of NaN's in finished is 26251

### `floor`

In [14]:
df['floor'].value_counts().sort_index(ascending=False).head(15)

floor
suterena/6        1
suterena/4        5
suterena/2        5
suterena         11
poddasze/7        1
poddasze/52       5
poddasze/4        4
poddasze/3        3
poddasze/10       1
parter/9         32
parter/8        149
parter/7        161
parter/6        306
parter/5        511
parter/4       1011
Name: count, dtype: int64

Now I will format the data into numerical values. 'suterena' is basically a basement, so I will set it to -1. 'poddasze' is the top floor so I will set it to the max value of this building. 'parter' is 0. Also I will move the '/x' part of values into a new column called `max_floor`.

In [15]:
df['floor'] = df['floor'].str.replace(' ', '')
df['floor'] = df['floor'].str.replace('suterena', '-1')
df['floor'] = df['floor'].str.replace('parter', '0')
df['max_floor'] = pd.Series(dtype=int)
# in some rows floor is: >x/y, so we will just replace it with average of x+1 and y
for index, row in df.iterrows():
    val = row['floor']
    if pd.notna(val):
        if 'poddasze' in val or val=='poddasze':
            val.replace('poddasze', val[-1])
        if '/' in val:
            f, mf = val.split('/')
            if '>' in f:
                f = f[1:]
                f = str((int(f)+1+int(mf))//2)
            df.at[index, 'max_floor'] = int(mf)
            df.at[index, 'floor'] = f
        else:
            if '>' in val:
                val = str(int(val[1:])+1)
            df.at[index, 'floor'] = val

df = df[df['floor']!='poddasze'] # for some reason we were left with 14 rows with value equal to poddasze, couldnt fix it so just dropped them since its a small number
print(df['floor'].value_counts().sort_index(ascending=False).head(15))
print(f"Number of NaN's in floor is {df['floor'].isna().sum()}")

floor
9      492
8      647
7      956
6     1274
5     1922
4     3273
31      63
3     4697
27       8
21       3
20      23
2     5576
19      21
18      18
17      51
Name: count, dtype: int64
Number of NaN's in floor is 441

### `max_floor`
This really doesn't need any work since I've just created it.

In [16]:
print(df['max_floor'].value_counts().head(15))
print(f"Number of NaN's in max_floor is {df['max_floor'].isna().sum()}")

max_floor
4.0     5778
3.0     5212
5.0     4034
2.0     2925
6.0     2803
10.0    2341
7.0     2161
8.0     1866
9.0      664
11.0     529
15.0     444
1.0      439
12.0     423
14.0     221
13.0     129
Name: count, dtype: int64
Number of NaN's in max_floor is 1261

### `outside`

In [17]:
print(df['outside'].unique())
print(df['outside'].value_counts())
print(f"Number of NaN's in outside is {df['outside'].isna().sum()}")

[nan 'balkon' 'taras' 'balkon, ogródek' 'ogródek' 'balkon, taras'
 'ogródek, taras' 'balkon, ogródek, taras' 'taras, balkon'
 'taras, ogródek' 'taras, balkon, ogródek' 'ogródek, balkon']
outside
balkon                    17135
balkon, taras              1407
taras                      1334
ogródek                    1323
ogródek, taras              859
balkon, ogródek, taras      453
balkon, ogródek             428
taras, ogródek              156
taras, balkon               111
ogródek, balkon              15
taras, balkon, ogródek        5
Name: count, dtype: int64
Number of NaN's in outside is 8573

I will split the `outside` column into three new ones: `terrace`, `balcony` and `garden` conatining 0/1 values. Then `outside` column will be removed.

In [18]:
df['balcony'] = pd.Series(dtype=int)
df['terrace'] = pd.Series(dtype=int)
df['garden'] = pd.Series(dtype=int)

for index, row in df.iterrows():
    val = row['outside']
    if pd.notna(val):
        df.at[index, 'balcony'] = int('balkon' in val)
        df.at[index, 'terrace'] = int('taras' in val)
        df.at[index, 'garden'] = int('ogródek' in val)

df = df.drop('outside', axis=1)

print(df['balcony'].value_counts())
print(f"Number of NaN's in balcony is {df['balcony'].isna().sum()}")
print(df['terrace'].value_counts())
print(f"Number of NaN's in terrace is {df['terrace'].isna().sum()}")
print(df['garden'].value_counts())
print(f"Number of NaN's in garden is {df['garden'].isna().sum()}")

balcony
1.0    19554
0.0     3672
Name: count, dtype: int64
Number of NaN's in balcony is 8573
terrace
0.0    18901
1.0     4325
Name: count, dtype: int64
Number of NaN's in terrace is 8573
garden
0.0    19987
1.0     3239
Name: count, dtype: int64
Number of NaN's in garden is 8573

### `rent`

In [19]:
df['rent'].value_counts().sort_index(ascending=False).head(15)

rent
999 zł           8
998 zł           5
996 zł           1
995 zł           8
990 zł          46
99 999,99 zł     1
989 zł           1
987 zł           2
985 zł           1
983 zł          11
981 zł           1
980 zł          60
978 zł           1
977 zł           3
976,45 zł        3
Name: count, dtype: int64

In [20]:
df['rent'] = df['rent'].str.replace(' zł', '')
df['rent'] = df['rent'].str.replace(' ', '')
df['rent'] = df['rent'].str.replace(',', '.') # floating point

# quick check if there are any unexpected (string/NaN) values but there are not
for index, row in df.iterrows():
    val = row['rent']
    if pd.notna(val):
        val = float(val)

print(f"Number of NaN's in rent is {df['rent'].isna().sum()}")

Number of NaN's in rent is 16254

### `elevator`

In [21]:
df['elevator'].unique()

array(['nie', 'tak', nan], dtype=object)

I will just convert 'tak'/'nie' into 1/0

In [22]:
df['elevator'] = df['elevator'].map({'tak':'1', 'nie':'0'})
print(df['elevator'].value_counts())
print(f"Number of NaN's in elevator is {df['elevator'].isna().sum()}")

elevator
1    17817
0    10089
Name: count, dtype: int64
Number of NaN's in elevator is 3893

### `built`

In [23]:
df['built'].value_counts().sort_index().head(15)

built
2.0        3
3.0        1
19.0      10
20.0       2
52.0       4
56.0       1
58.0       1
70.0       2
75.0       1
193.0      4
200.0      1
750.0      1
1056.0     3
1073.0     2
1505.0     2
Name: count, dtype: int64

In [24]:
for index, row in df.iterrows(): # check if there are any unexcpected values
    val = row['built']
    if pd.notna(val):
        val = float(val)
print(f"Number of NaN's in built is {df['built'].isna().sum()}")

Number of NaN's in built is 7064

### `b_type`

In [25]:
print(df['b_type'].value_counts())
print(f"Number of NaN's in b_type is {df['b_type'].isna().sum()}")

b_type
blok                12179
apartamentowiec      7829
kamienica            2891
dom wolnostojący      338
szeregowiec           323
plomba                 25
loft                    4
Name: count, dtype: int64
Number of NaN's in b_type is 8210

### `location`
For the `location` column I'd like to split it into 4 new columns: `street`, `district`, `subdistrict` and `nbhood`, because data in `location` is too messy. The initial plan was to do the splitting using Geopy, but luckily the data is pretty detailed. I will also drop all NaN values in `location` column, because there is very few of them.

In [26]:
df['location'].head()

0    ul. Wiarusów 10, Gocławek, Praga-Południe, War...
1    ul. Obrzeżna, Służewiec, Służewiec, Mokotów, W...
2                 Raków, Włochy, Warszawa, mazowieckie
3                Okęcie, Włochy, Warszawa, mazowieckie
4        Stary Imielin, Ursynów, Warszawa, mazowieckie
Name: location, dtype: object

In [27]:
df.dropna(subset=['location'], inplace=True)
df['street'] = pd.Series(dtype=str)
df['district'] = pd.Series(dtype=str)
df['subdistrict'] = pd.Series(dtype=str)
df['nbhood'] = pd.Series(dtype=str)

for index, row in df.iterrows():
    address = str(row['location']).split(',')
    # there are some anomalies in the data, for now lets handle some of them with multiple cases
    if 'ul.' in address[0] or 'al.' in address[0] or 'ego' in address[0] or 'Wał Miedz' in address[0] or 'polki' in address[0] or 'Warszawa'==address[0]:
        street = address[0][3:].title()
        subdistrict = address[1].title()
        district = address[2].title()
    else:
        street = ''
        subdistrict = address[0].title()
        district = address[1].title()
    df.at[index, 'street'] = street
    df.at[index, 'district'] = district
    df.at[index, 'subdistrict'] = subdistrict

In [28]:
#df['subdistrict'].value_counts().sort_values().head(200)
df['district'].unique()

array([' Praga-Południe', ' Służewiec', ' Włochy', ' Ursynów', ' Ursus',
       ' Wola', ' Żoliborz', ' Mokotów', ' Wilanów', ' Bemowo',
       ' Bielany', ' Śródmieście', ' Białołęka', ' Ochota', ' Targówek',
       ' Praga-Północ', ' Wawer', ' Stara Miłosna', ' Wesoła', ' Mirów',
       ' Rembertów', ' Grodzisk', ' Szmulowizna', ' Czyste',
       ' Śródmieście Północne', ' Piaski', ' Piastów', ' Ksawerów',
       ' Sady Żoliborskie', ' Odolany', ' Warszawa', ' Stegny',
       ' Niedźwiadek', ' Stare Włochy', ' Marymont-Kaskada', ' Wyczółki',
       ' Śródmieście Południowe', ' Szczęśliwice', ' Ujazdów',
       ' Stary Żoliborz', ' Raków', ' Chrzanów', ' Stary Mokotów',
       '  Broniwoja 8', ' Gocław', ' Wołomiński', ' Michałowice',
       ' Białołęka Dworska', ' Wawrzyszew', ' Saska Kępa',
       ' Jeziorki Północne', ' Szamoty', ' Osiedle Wilno',
       ' Błonia Wilanowskie', ' Kabaty', ' Otwocki', ' Górce',
       ' Pruszkowska', ' Grójec', ' Kobiałka', ' Aura Park', ' Młynów',
       ' Chomiczówka', ' Brwinów', ' Targówek Mieszkaniowy', ' Młociny',
       ' Powsinek', ' Ulrychów', ' Pruszkowski', ' Żerań',
       ' Stary Rembertów', ' Wola Grzybowska', ' Fort Bema',
       ' Nowa Praga', ' Filtry', ' Lesznowola', ' Grochów', ' Groszówka',
       ' Bardo', ' Zacisze', ' Sielce', ' Łomianki', ' Nadwiśle',
       ' Salomea', ' Stare Miasto', ' Powiśle', ' Natolin',
       ' Konstancin-Jeziorna', ' Stara Ochota', ' Bliska Wola',
       '23M/Dwustronne/Winda/Kamienica Z 1946', ' Stare Bielany',
       ' Czechowice', ' Jeziorki Południowe', ' Ulica Międzyborska 10',
       ' Okęcie', ' Ul. Niedzielskiego', ' Bródno-Podgrodzie', ' Raszyn',
       ' Jelonki Południowe', ' Marymont-Potok', ' Marysin Wawerski',
       ' Augustówka', ' Ursynów Północny', ' Nowodwory',
       ' Kawęczyn-Wygoda', ' Szamocin', ' Powązki', ' Międzylesie',
       ' Elsnerów', ' Stary Imielin', ' Bródno', ' Broniewskiego',
       ' Falenica', ' Nowe Włochy', ' Marymont-Ruda', ' Pyry', ' Ryżowa',
       ' Muranów', ' Stare Babice', ' Jabłonna', ' Służew'], dtype=object)

We can see that our address columns still need some work, so I will use Geopy to fix each row individually.

In [29]:
df[['street', 'nbhood', 'subdistrict', 'district']].head()

         street nbhood    subdistrict         district
0   Wiarusów 10    NaN       Gocławek   Praga-Południe
1      Obrzeżna    NaN      Służewiec        Służewiec
2                  NaN          Raków           Włochy
3                  NaN         Okęcie           Włochy
4                  NaN  Stary Imielin          Ursynów

In [30]:
import geolocation_helpers as geohelp
import os

k=1
if not os.path.exists('modified_df.csv'):
    for index, row in df.iterrows():
        street, subdistrict, district = row['street'], row['subdistrict'], row['district']
        street, nbhood, subdistrict, district = geohelp.fix_address(street, subdistrict, district)
        df.at[index, 'street'] = street
        df.at[index, 'nbhood'] = nbhood
        df.at[index, 'subdistrict'] = subdistrict
        df.at[index, 'district'] = district

        # counter to track the process
        if k%100==0:
            print(k, end='')
        k+=1

1002003004005006007008009001000110012001300140015001600170018001900200021002200230024002500260027002800290030003100320033003400350036003700380039004000410042004300440045004600470048004900500051005200530054005500560057005800590060006100620063006400650066006700680069007000710072007300740075007600770078007900800081008200830084008500860087008800890090009100920093009400950096009700980099001000010100102001030010400105001060010700108001090011000111001120011300114001150011600117001180011900120001210012200123001240012500126001270012800129001300013100132001330013400135001360013700138001390014000141001420014300144001450014600147001480014900150001510015200153001540015500156001570015800159001600016100162001630016400165001660016700168001690017000171001720017300174001750017600177001780017900180001810018200183001840018500186001870018800189001900019100192001930019400195001960019700198001990020000201002020020300204002050020600207002080020900210002110021200213002140021500216002170021800219002200022100222002230022400225002260022700228002290023000231002320023300234002350023600237002380023900240002410024200243002440024500246002470024800249002500025100252002530025400255002560025700258002590026000261002620026300264002650026600267002680026900270002710027200273002740027500276002770027800279002800028100282002830028400285002860028700288002890029000291002920029300294002950029600297002980029900300003010030200303003040030500306003070030800309003100031100312003130031400315003160031700

In [31]:
df[['street', 'nbhood', 'subdistrict', 'district']].head()

            street    nbhood       subdistrict        district
0      Wiarusów 10  Gocławek  Grochów-Północny  Praga-Południe
1         Obrzeżna      None         Służewiec         Mokotów
2             None      None             Raków          Włochy
3  Żwirki i Wigury      None            Okęcie          Włochy
4             None      None     Stary Imielin         Ursynów

Because of Nominatim's policy this process is very time consuming, so I will save the Dataframe into a file, so I can use it without having to re-run the code multiple times.

In [32]:
if not os.path.exists('modified_df.csv'):
    df.to_csv('modified_df.csv', index=False)

Now I will read the modified Dataframe and delete the `location` column.

In [34]:
df = pd.read_csv('modified_df.csv')
df = df.drop('location', axis=1)

,total_price,price_per_sqm,area,rooms,finished,floor,rent,elevator,built,b_type,link,max_floor,balcony,terrace,garden,street,district,subdistrict,nbhood
0,1049000,14204.0,"73,85",4,NaN,2.0,NaN,0.0,2023.0,NaN,https://www.otodom.pl/pl/oferta/wiarusow-10-ka...,4.0,NaN,NaN,NaN,Wiarusów 10,Praga-Południe,Grochów-Północny,Gocławek
1,1099000,18381.0,"59,79",2,do zamieszkania,7.0,800.0,1.0,2009.0,apartamentowiec,https://www.otodom.pl/pl/oferta/mieszkanie-bli...,8.0,1.0,0.0,0.0,Obrzeżna,Mokotów,Służewiec,NaN
2,"444563,23",13768.0,"32,29",1,NaN,2.0,800.0,1.0,2017.0,apartamentowiec,https://www.otodom.pl/pl/oferta/wyposazone-mie...,4.0,NaN,NaN,NaN,NaN,Włochy,Raków,NaN
3,430000,17530.0,"24,53",1,NaN,4.0,563.0,1.0,2023.0,NaN,https://www.otodom.pl/pl/oferta/nowy-umeblowan...,7.0,1.0,0.0,0.0,Żwirki i Wigury,Włochy,Okęcie,NaN
4,"621422,01",16919.0,"36,73",2,NaN,3.0,NaN,1.0,2023.0,blok,https://www.otodom.pl/pl/oferta/lokal-36-m2-2-...,4.0,1.0,0.0,0.0,NaN,Ursynów,Stary Imielin,NaN

We still have some minor issues caused by Nominatim's misinterpretation of input. These rows wil be dropped.

In [39]:
df['district'].unique()

array(['Praga-Południe', 'Mokotów', 'Włochy', 'Ursynów', 'Ursus', 'Wola',
       'Żoliborz', 'Wilanów', nan, 'Bemowo', 'Bielany', 'Śródmieście',
       'Białołęka', 'Ochota', 'Targówek', 'Praga-Północ', 'Wawer',
       'Wesoła', 'Rembertów', 'Mały Kack'], dtype=object)

In [41]:
df = df[df['district']!='Mały Kack']
df['district'].value_counts()

district
Mokotów           4161
Białołęka         3815
Wola              3172
Praga-Południe    2677
Śródmieście       2587
Ursynów           2122
Bielany           1733
Bemowo            1493
Praga-Północ      1392
Ursus             1327
Wilanów           1313
Targówek          1233
Ochota            1127
Włochy            1099
Wawer              878
Żoliborz           682
Rembertów          401
Wesoła             263
Name: count, dtype: int64

Now that all the data was cleaned let's check NaN values and try to do something about them.

In [47]:
df.isna().sum()

total_price       2376
price_per_sqm     2376
area                 0
rooms                0
finished         26232
floor              440
rent             16246
elevator          3892
built             7063
b_type            8209
link                 0
max_floor         1260
balcony           8565
terrace           8565
garden            8565
street            7618
district           313
subdistrict        786
nbhood           19279
dtype: int64